{#
/**
 * @file
 * Default theme implementation to embed a vimeo url.
 *
 * Available variables:
 * - width: The width of the iframe.
 * - height: The height of the iframe.
 * - allowautoplay: Variable for Auto Play
 * - url: The URl for Vimeo
 *
 * @ingroup themeable
 */
#}
<iframe frameborder="0" width="{{ width }}" height="{{ height }}" src="{{ url }}" {{ allowfullscreen }} title="{{ title }}"></iframe>
